<div class="brand-mission">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 mb-md-0 col-md-5">
        {{ section.settings.image | img_url: '760x' | img_tag }}
      </div>
      <div class="col-12 col-md-7">
        {{ section.settings.brand_description }}

        {% form 'customer' %}
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
          {% else %}
            <div class="input-group">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email"
                name="contact[email]"
                id="Email"
                class="input-group__field newsletter__input"
                value="{% if customer %}{{ customer.email }}{% endif %}"
                placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                autocorrect="off"
                autocapitalize="off">
              <span class="input-group__btn">
                <button type="submit" class="button newsletter__submit" name="commit" id="Subscribe">
                  <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                </button>
              </span>
            </div>
          {% endif %}
        {% endform %}
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Brand Mission",
  "class": "index-section index-section--flush",
  "settings": [{
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  }, {
    "type": "richtext",
    "id": "brand_description",
    "label": "Brand mission (description)",
    "default": "<p>Write some description for your brand here.</p>"
  }]
}
{% endschema %}
