<div
  class="
    hero
    hero--{{ section.settings.hero_size }}
    {% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %}
      hero__overlay
    {% endif %}
    box ratio-container lazyload js
  "
  {% if section.settings.image %}
    data-bgset="{% include 'bgset', image: section.settings.image %}"
    data-sizes="auto"
    data-parent-fit="cover"
    style="background-position: center; background-image: url('{{ section.settings.image | img_url: '300x300' }});"
  {% endif %}
>
  {% if section.settings.image == blank %}
    <div class="placeholder-background">
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %}
  <div class="hero__inner">
    <div class="container text-center">
      <img src="{{ 'revolt-horizontal.svg' | asset_url }}" alt="Revolt Logo" class="d-none d-sm-block hero__revolt-logo"/>
      <img src="{{ 'revolt-vertical.svg' | asset_url }}" alt="Revolt Logo" class="d-block d-sm-none hero__revolt-logo">
    </div>
    <div class="hero__body">
      <div class="row">
        <div class="offset-6 offset-sm-0 col-6 col-sm-5">
          {% if section.settings.text != blank %}
            <div class="rte-setting lead">{{ section.settings.text }}</div>
          {% endif %}

          {% if section.settings.button_link != blank %}
            {% include 'pre-order-cta', href: section.settings.button_link, line1: "PRE-ORDER", line2: "NOW" %}
          {% endif %}
        </div>

        <div class="w-100 d-block d-sm-none"></div>

        <div class="col-6 col-sm-7">
          {% assign featured_product_image_size =  section.settings.featured_product_image_size | append: "x" %}
          {{ section.settings.featured_product_image | img_url: featured_product_image_size | img_tag: 'Featured Product Image', 'hero__featured_product_image' }}
        </div>
      </div>      
    </div>
  </div>
</div>

<noscript>
  <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}"{% if section.settings.image %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center center;"{% endif %}></div>
</noscript>

{% schema %}
  {
    "name": "Image with text overlay",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "featured_product_image",
        "label": "Featured Product Image"
      },
      {
        "type": "number",
        "id": "featured_product_image_size",
        "label": "Featured Product Image Size (Width)",
        "default": 700
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      },
      {
        "type": "select",
        "id": "hero_size",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "label": "Extra Small",
            "value": "x-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra Large",
            "value": "x-large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "medium",
        "options": [
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "CTA link"
      }
    ],
    "presets": [
      {
        "name": "Image with text overlay",
        "category": "Image"
      }
    ]
  }
{% endschema %}
